
*.xcuserstate
ios/OC_RN.xcworkspace/xcuserdata/wenter.zhu.xcuserdatad/UserInterfaceState.xcuserstate
ios/Pods/
ios/OC_RN.xcodeproj/xcuserdata/wenter.zhu.xcuserdatad/xcschemes/xcschememanagement.plist
ios/OC_RN.xcworkspace/xcuserdata/wenter.zhu.xcuserdatad/UserInterfaceState.xcuserstate
